go 1.22

use (
	github.com/vianra/codereview/ingress-svc
	github.com/vianra/codereview/analysis-svc
	github.com/vianra/codereview/aggregation-svc
	github.com/vianra/codereview/integration-svc
	github.com/vianra/codereview/admin-svc
)

replace (
	github.com/vianra/codereview/ingress-svc => ./services/ingress-svc
	github.com/vianra/codereview/analysis-svc => ./services/analysis-svc
	github.com/vianra/codereview/aggregation-svc => ./services/aggregation-svc
	github.com/vianra/codereview/integration-svc => ./services/integration-svc
	github.com/vianra/codereview/admin-svc => ./services/admin-svc
)