go 1.22.7

use (
	./gen/go
	./services/admin-svc
	./services/aggregation-svc
	./services/analysis-svc
	./services/ingress-svc
	./services/integration-svc
)

replace google.golang.org/genproto => ./tools/void-genproto
